<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Authorization</title>
</head>
<body>
<div class="authorization">
<form action="/email" name="main_form" method="get">
        <p>Write Password:<br>
            <input  type="text"  name="password"></p>
        <p>Write Email:<br>
            <input  type="text"  name="email"></p>
             <p><input  type="submit" value="Пошук"></p>
</form>
</div>
</body>
</html>