<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Знайдений Користувач</title>
</head>
<body>
<div class="Finded Nickname">
    <p>Було знайдено дані по ніку    {{ searched['nickname'] }}
     <p>{{ searched['nickname']}} <br>
        {{ searched['id'] }} <br>
        {{ searched['text'] }} <br>
        {{ searched['email'] }} <br>
        {{ searched['first_name'] }} <br>
        {{ searched['last_name'] }} <br>
        {{searched ['password'] }}
</div>
</body>
</html>