<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Знайдений Користувач</title>
</head>
<body>
<div class="Finded Nickname">
    <p>Було знайдено дані по ніку  {{ word_which_find.nickname }}</p>
     <p>{{ word_which_find['nickname']}} <br>
        {{ word_which_find['id'] }} <br>
        {{ word_which_find['text'] }} <br>
        {{ word_which_find['email'] }} <br>
        {{ word_which_find['first_name'] }} <br>
        {{ word_which_find['last_name'] }} <br>
        {{ word_which_find['password'] }}
</div>
</body>
</html>