<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Same Auto by ID</title>
</head>
<body>
<div class="show_cars">
        <a>Всі машини які належать користувачу: </a>
        <br>
</div>
<div class="finds_cars">
{% for car in cars %}
    {{ car['brand'] }} <br>
    {{ car['type'] }}<br>
    {{ car['number'] }}<br>
    {{ car['user_id'] }}<br>
    {% endfor %}
<a href="/" class="btn first">На головну</a>
</div>
</body>
</html>