<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Дані про Користувачів</title>
</head>
<body>
<div class="add_text">
        <p>Show Command:<br>
        <a href="/add" class="add_text">Добавити дані</a>
</div>
<div class="container mt-5">
<a>Дані Користувачів</a><br>
    {% for el in all_data %}

    {% set a = el['nickname'] %}
    {% set b = el['text'] %}
    {% set c = el['id'] %}
    {% set d = el['email'] %}
    {% set e = el['first_name'] %}
    {% set f = el['last_name'] %}
    {% set g = el['password'] %}
    <b>{{a}}</b> <br>
    <b>{{b}}</b> <br>
    <b>{{c}}</b> <br>
    <b>{{d}}</b> <br>
    <b>{{e}}</b> <br>
    <b>{{f}}</b> <br>
    <b>{{g}}</b> <br>
    <a href="/delete/{{ c }}/del" class="btn danger">Видалити дані</a><br>
    <a href="/update/{{ c }}/up" class="btn success">Оновити дані</a><br>

    {% endfor %}
</div>
</body>
</html>