<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Оновлення даних</title>
</head>
<body>
<div class="input_msg">
<form method="post">
        <a>Оновлення даних про користувача з ID {{ update_data ['id']}}</a><br>
        <p>Nickname<br>
        <input type="text" name="nickname" class="form control" value="{{ update_data.nickname }}">
        <p>Text<br>
        <textarea name="text">{{update_data['text']}}</textarea></p>
        <p>Email</p>
        <textarea name="email">{{update_data['email']}}</textarea></p>
        <p>First Name</p>
        <textarea name="first_name">{{update_data['first_name']}}</textarea></p>
        <p>Last Name</p>
        <textarea name="last_name">{{update_data['last_name']}}</textarea></p>
        <p>Password</p>
        <textarea name="password">{{update_data['password']}}</textarea></p>
        <p><input  type="submit" value="Оновити"></p>
</form>
</div>
</body>
</html>