<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div class="update_cars">
<form method="post">
        <a>Оновлення даних про авто {{ update_data_car ['brand']}}</a><br>
        <p>BRAND<br>
        <input type="text" name="brand" class="form control" value="{{ update_data_car.brand }}">
        <p>TYPE<br>
        <textarea name="type">{{ update_data_car['type']}}</textarea></p>
        <p>NUMBER</p>
        <textarea name="number">{{ update_data_car['number']}}</textarea></p>
        <p><input  type="submit" value="Оновити"></p>
</form>
</div>
</body>
</html>
